<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Cinema Ironhack <%= title %></p>
    <a href="/movies" class="button">Check the movies!</a>
  </body>
</html>
